.dart_tool/
build/
.pub-cache/
.pub/
.flutter-plugins
.flutter-plugins-dependencies

.idea/
.vscode/
*.iml
*.zip

_test_release/
dist/

android/.gradle/
android/local.properties

ios/Pods/
ios/.symlinks/
ios/Flutter/Flutter.framework
ios/Flutter/Flutter.podspec

windows/flutter/ephemeral/
linux/flutter/ephemeral/
macos/Flutter/ephemeral/